CommitGen.json
{
  "name": "CommitGen",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7bbd656c-5708-476c-8b85-a1f5d2bfa5ed",
              "leftValue": "={{ $json.headers['x-auth-token'] }}",
              "rightValue": "=/dek0omQpvJLWLRPz3ataV6sM/Gu3f9bAew8wNWLZto",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -832,
        48
      ],
      "id": "927b6a75-d988-45fe-bfd0-4b536fcc1957",
      "name": "Auth"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Access Denied\",\n  \"details\": \"Invalid or missing token\"\n}",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -672,
        144
      ],
      "id": "dfb6b308-99bf-4a1c-bafe-4ab4d01c71e8",
      "name": "Auth Error"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// TRUNCATE - FIXED: READ FROM WEBHOOK\n// ============================================\n\nconsole.log(\"=== TRUNCATE DEBUG ===\");\n\n// КРИТИЧНО: Читаем из WEBHOOK напрямую!\nconst webhookData = $('Input').first().json;  // ← FIX: было $input.first()\nconst bodyData = webhookData.body || webhookData;\n\nlet diff = bodyData.diff || \"\";\nlet filename = bodyData.filename || \"\";\n\nconsole.log(\"diff length:\", diff.length);\nconsole.log(\"filename:\", filename);\n\n// 2. SMART FILTER\nlet skip = false;\nlet skipReason = \"\";\n\nconst ignoredExtensions = [\n  \"package-lock.json\", \"yarn.lock\", \"pnpm-lock.yaml\", \"composer.lock\",\n  \".min.js\", \".svg\", \".map\", \".css.map\"\n];\n\n// Проверка 1: Игнорируемый файл\nif (filename) {\n    const isIgnored = ignoredExtensions.some(ext => filename.endsWith(ext));\n    if (isIgnored) {\n        skip = true;\n        skipReason = \"ignored_file_type\";\n        diff = \"\";\n    }\n}\n\n// Проверка 2: Пустой diff (только если еще не skip)\nif (!skip && (!diff || diff.trim().length === 0)) {\n    skip = true;\n    skipReason = \"empty_diff\";\n}\n\n// 3. ОБРЕЗКА\nconst MAX_CHARS = 8000;\nif (!skip && diff.length > MAX_CHARS) {\n  diff = diff.substring(0, MAX_CHARS) + \"\\n\\n...[Diff truncated to save tokens]\";\n}\n\nconsole.log(\"=== RESULT ===\");\nconsole.log(\"skip:\", skip);\nconsole.log(\"skip_reason:\", skipReason);\nconsole.log(\"======================\");\n\nreturn {\n  json: {\n    clean_diff: diff,\n    filename: filename,\n    skip: skip,\n    skip_reason: skipReason\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        -48
      ],
      "id": "623e326e-f58e-41fb-96c4-e1c49ae91bbd",
      "name": "Truncate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ddbe326-c62e-40e3-8908-c8b263957b3b",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "05cc33a3-8f16-42ea-a062-5e0d573bd9a2",
              "name": "error",
              "value": "=Generation Failed",
              "type": "string"
            },
            {
              "id": "e10ded04-1666-4355-9671-6f032dbd90ee",
              "name": "details",
              "value": "=Both primary and backup models failed to generate a commit message.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        320
      ],
      "id": "a435b88d-6982-4738-ae99-af8d816ba0f0",
      "name": "Final Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        688,
        80
      ],
      "id": "8f6f7ad9-58bc-4bd6-bc6c-cd3e4344ee82",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.clean_diff }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.system_instruction }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -208,
        272
      ],
      "id": "01250702-7486-4f32-be7f-f00cab820d3b",
      "name": "Groq Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "=llama-3.1-8b-instant",
          "mode": "id"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -208,
        416
      ],
      "id": "bf53d0ca-76bd-42b4-929b-2786fafce3e7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bmHsDAH0KlcnWpN3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "624c7974-5f54-499e-9da2-fdce6c5ec8e9",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        272
      ],
      "id": "9c2f47f7-3b3a-4a17-96c1-4135a1584799",
      "name": "Check Success Groq"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "=UjLSIigUJZ0zkKaE",
          "mode": "id",
          "cachedResultUrl": "/workflow/=UjLSIigUJZ0zkKaE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.output || $json.text || JSON.stringify($json) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        -48
      ],
      "id": "a9c23d3a-2899-4f09-ad14-2f22c2966401",
      "name": "Call Vertex"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "=UjLSIigUJZ0zkKaE",
          "mode": "id",
          "cachedResultUrl": "/workflow/=UjLSIigUJZ0zkKaE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        64,
        272
      ],
      "id": "8fd9665c-8560-4bc5-aa36-0d92675e258f",
      "name": "Call Groq"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ec272c86-555b-4a6a-9af3-0307462b884e",
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -384,
        -48
      ],
      "id": "9ce800dc-0d6d-46bf-b19d-085946b17c05",
      "name": "Should Process?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3ac18b9-e789-4d45-b1fe-4c1fd83138a9",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        -48
      ],
      "id": "be86f35c-3c22-495c-99d1-2db3220d12c3",
      "name": "Check Succes Vertex"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nreturn {\n  json: {\n    commit_message: \"chore: no changes detected\",\n    _meta: {\n      skipped: true,\n      skip_reason: input.skip_reason || \"unknown\",\n      filename: input.filename || \"unknown\"\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        32
      ],
      "id": "7909c67a-d514-42e2-a24e-43bd74a70013",
      "name": "Mock Empty Response"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "create",
        "projectId": "=gen-lang-client-0196159966",
        "database": "projectdb",
        "collection": "logs_commit_gen",
        "documentId": "=",
        "columns": "timestamp, status, details"
      },
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1.1,
      "position": [
        880,
        144
      ],
      "id": "3bce04a2-6991-4058-9708-93c8b07f573a",
      "name": "Firestore Logging",
      "credentials": {
        "googleApi": {
          "id": "SQwCT6KhQpd8TcPM",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "commit-gen",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -976,
        48
      ],
      "id": "292784d4-8c21-4163-90e8-ee62fa442a0b",
      "name": "Input",
      "webhookId": "23ca2034-f901-44ae-ae39-56b14d251c44"
    },
    {
      "parameters": {
        "jsCode": "const geminiResponse = $input.first().json;\n\nconsole.log(\"=== GEMINI RESPONSE DEBUG ===\");\nconsole.log(\"Full response:\", JSON.stringify(geminiResponse, null, 2));\nconsole.log(\"Has candidates:\", !!geminiResponse.candidates);\nconsole.log(\"============================\");\n\n// Проверяем структуру\nif (!geminiResponse.candidates) {\n  console.log(\"❌ No candidates in response!\");\n  console.log(\"Response keys:\", Object.keys(geminiResponse));\n  throw new Error(\"Gemini API returned no candidates. Check API response structure.\");\n}\n\nif (!geminiResponse.candidates[0]) {\n  throw new Error(\"Candidates array is empty\");\n}\n\nconst candidate = geminiResponse.candidates[0];\n\nconsole.log(\"Candidate keys:\", Object.keys(candidate));\nconsole.log(\"Finish reason:\", candidate.finishReason);\n\n// Проверка на MAX_TOKENS\nif (candidate.finishReason === \"MAX_TOKENS\") {\n  console.log(\"❌ Response cut off due to MAX_TOKENS!\");\n  console.log(\"Prompt tokens:\", geminiResponse.usageMetadata?.promptTokenCount);\n  console.log(\"Thoughts tokens:\", geminiResponse.usageMetadata?.thoughtsTokenCount);\n  throw new Error(\"Gemini response was cut off due to MAX_TOKENS. Increase maxOutputTokens in Prepare Gemini body.\");\n}\n\n// Извлекаем текст\nlet text = \"\";\ntry {\n  console.log(\"Content:\", JSON.stringify(candidate.content, null, 2));\n  \n  if (!candidate.content.parts || !candidate.content.parts[0]) {\n    throw new Error(\"No parts in content\");\n  }\n  \n  text = candidate.content.parts[0].text;\n  \n  console.log(\"=== EXTRACTED TEXT ===\");\n  console.log(text);\n  console.log(\"======================\");\n} catch (error) {\n  const errorMessage = error instanceof Error ? error.message : String(error);\n  console.log(\"❌ Failed to extract text\");\n  console.log(\"Error:\", errorMessage);\n  throw new Error(\"Failed to extract text from Gemini response: \" + errorMessage);\n}\n\n// Возвращаем в формате для parser\nreturn {\n  json: {\n    text: text,\n    response: text,\n    raw: geminiResponse\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        -128
      ],
      "id": "41834fac-70e4-4f17-aaf3-08640520f691",
      "name": "Extract Gemini Text"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -96,
        -128
      ],
      "id": "945fccd4-f288-44a9-b25c-6f18912bb5ec",
      "name": "HTTP Request",
      "credentials": {
        "googleApi": {
          "id": "SQwCT6KhQpd8TcPM",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные\nconst promptData = $('Prompt').first().json;\nconst cleanData = $('Truncate').first().json;\n\nconst systemInstruction = promptData.system_instruction || \"\";\nconst codeToReview = cleanData.clean_diff || \"\";\n\nif (!codeToReview || codeToReview.trim().length === 0) {\n    throw new Error(\"CODE TO REVIEW IS EMPTY!\");\n}\n\nconst combinedPrompt = systemInstruction + \n                       \"\\n\\n--- DIFF TO ANALYZE ---\\n\\n\" + \n                       codeToReview +\n                       \"\\n\\n**CRITICAL: Respond with ONLY valid JSON. No markdown, no code blocks, no explanations.**\";\n\n// Упрощенный payload БЕЗ schema (для v1beta можешь добавить schema)\nconst finalApiPayload = {\n    \"contents\": [\n        {\n            \"role\": \"user\",\n            \"parts\": [\n                { \"text\": combinedPrompt }\n            ]\n        }\n    ],\n    \"generationConfig\": {\n        \"temperature\": 0.0,\n        \"maxOutputTokens\": 8192\n    }\n};\n\nconsole.log(\"=== SENDING TO API ===\");\nconsole.log(JSON.stringify(finalApiPayload, null, 2).substring(0, 500));\n\nreturn { json: finalApiPayload };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -128
      ],
      "id": "a25b5361-5e20-4600-ab4f-934b0b8424c8",
      "name": "Prepare Gemini body"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": "={{ $json.success ? 200 : 500 }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1056,
        16
      ],
      "id": "2223df2f-7139-49c6-ab01-0bda133b4c53",
      "name": "Output"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "=4rMH8ueh5NusvmUe",
          "mode": "id",
          "cachedResultUrl": "/workflow/=4rMH8ueh5NusvmUe"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        880,
        16
      ],
      "id": "4a2b13dd-cf50-4c32-ad55-7d17b708aa4e",
      "name": "Call Formatter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "1101597449",
        "text": "=🔥 CRITICAL FAILURE: CommitGen Down\n\nError: {{ $json.error }}\nDetails: {{ $json.details || \"Unknown error\" }}\nFailed Provider: {{ $json.failed_provider }}\nTimestamp: {{ new Date().toISOString() }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        528,
        368
      ],
      "id": "1b86af35-5bb9-4a35-9293-cea0fd25411a",
      "name": "Send a text message",
      "webhookId": "baf389d1-5e4d-4a03-9241-2b9f7ee1a85f",
      "credentials": {
        "telegramApi": {
          "id": "PntfHXpQlQIOaHZr",
          "name": "Telegram account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Получаем данные из предыдущей ноды (Auth/Webhook)\nconst inputData = $input.first().json;\nconst bodyData = inputData.body || inputData;\nconst filename = bodyData.filename || \"\";\n\n// Логика вычисления scope\nlet scope = \"\";\nif (filename) {\n  const parts = filename.split('/');\n  const file = parts[parts.length - 1];\n  scope = file.replace(/\\.[^/.]+$/, \"\");\n}\n\n// Формируем текст инструкции\nconst systemInstruction = `Generate a git commit message in Conventional Commits format.\n\nFile: \"${filename || 'unknown'}\"\n\nFormat: type(scope): subject\n\nTypes: feat, fix, refactor, perf, docs, style, test, chore\n\nRules:\n- Subject max 50 chars, imperative mood\n- Use scope \"${scope || 'component'}\" if relevant\n- Output ONLY JSON: {\"commit_message\": \"type(scope): subject\"}\n- Empty input: {\"commit_message\": \"chore: no changes\"}\n\nExamples:\n{\"commit_message\": \"feat(auth): add JWT validation\"}\n{\"commit_message\": \"fix(db): increase timeout\"}`;\n\n// Возвращаем результат\nreturn {\n  json: {\n    // Сохраняем все входящие данные (diff, token и т.д.)\n    ...inputData, \n    // Добавляем нашу новую инструкцию\n    system_instruction: systemInstruction\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        -48
      ],
      "id": "44f934a1-bd50-4d03-a174-d202924bdc3d",
      "name": "Prompt"
    },
    {
      "parameters": {
        "jsCode": "// 1. БЕЗОПАСНОЕ ПОЛУЧЕНИЕ ДАННЫХ\n// В CommitGen нода очистки называется 'Truncate'\nconst cleanItem = $('Truncate').first();\nconst cleanData = cleanItem ? cleanItem.json : {};\n\nconst promptItem = $('Prompt').first();\nconst promptData = promptItem ? promptItem.json : {};\n\n// 2. ИЗВЛЕЧЕНИЕ ПЕРЕМЕННЫХ\n// Если данных нет — ставим пустые строки, чтобы не сломать процесс\nconst diff = cleanData.clean_diff || \"\";\nconst baseInstruction = promptData.system_instruction || \"Generate commit message.\";\n\n// 3. PROMPT ENGINEERING (Llama 3 Specific)\n// Добавляем \"пинок\" для Groq, но адаптированный под КОММИТЫ (не issues!)\nconst strictInstruction = baseInstruction + \n    \"\\n\\n🛑 SYSTEM OVERRIDE - CRITICAL FORMATTING RULES:\\n\" +\n    \"1. OUTPUT RAW JSON ONLY.\\n\" +\n    \"2. DO NOT use markdown code blocks (no ```json).\\n\" +\n    \"3. DO NOT add intro/outro text.\\n\" +\n    \"4. JSON must contain key 'commit_message'.\\n\" + \n    \"5. START RESPONSE IMMEDIATELY WITH '{'.\";\n\n// 4. ВОЗВРАТ\nreturn {\n    json: {\n        clean_diff: diff,\n        system_instruction: strictInstruction,\n        model_used: \"Groq Turbo Backup\" // Метка для базы данных\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        272
      ],
      "id": "0c902848-71cf-4cc4-811d-17fcbd36d299",
      "name": "Restore for Groq"
    }
  ],
  "pinData": {},
  "connections": {
    "Auth": {
      "main": [
        [
          {
            "node": "Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auth Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Truncate": {
      "main": [
        [
          {
            "node": "Should Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Error": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Firestore Logging",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain": {
      "main": [
        [
          {
            "node": "Call Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success Groq": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Vertex": {
      "main": [
        [
          {
            "node": "Check Succes Vertex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Groq": {
      "main": [
        [
          {
            "node": "Check Success Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Process?": {
      "main": [
        [
          {
            "node": "Prepare Gemini body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mock Empty Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Succes Vertex": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Restore for Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Empty Response": {
      "main": [
        [
          {
            "node": "Call Vertex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Gemini Text": {
      "main": [
        [
          {
            "node": "Call Vertex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini body": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract Gemini Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Formatter": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt": {
      "main": [
        [
          {
            "node": "Truncate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore for Groq": {
      "main": [
        [
          {
            "node": "Groq Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ca16a784-fd56-4b77-bfad-b2a6ceb22d87",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "eaa32287003ad932b3615f2a067b365eb5dcc7175f022b32170ec3f42076fb8f"
  },
  "id": "ZBgKhyUHh18428sa",
  "tags": []
}